@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;

}
#button_kajian:hover ~ .menu {
    background-color: red;
}
#menu_kajian{
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#menu_kajian.open{
    height: 100%;
}
.hamburger_menu{
    @apply p-2;
}
.hamburger_menu:hover{
    @apply bg-primary;
}
.hamburger_menu span{
    @apply h-1 mb-1 w-8 rounded-lg bg-white block;
}
.main_menu{
    transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.main_menu.open_menu{
    @apply sm:block left-0; 
    transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}